CompileFlags:
  CompilationDatabase: .
  Add:
    - -I.
    - -Icommon
    - -Ilib/hackrf_usb
    - -Ilib/libopencm3/include
    - -Itinyusb_port
    - -Ilib/tinyusb/src
    - -Iuart_support
    - -DHACKRF_ONE
    - -DLPC43XX
    - -DLPC4320
    - -DTX_ENABLE
    - -DLPC43XX_M4
    - -DCFG_TUSB_MCU=8
    - -Wno-unknown-attributes
  Remove:
    - -mthumb
    - -mcpu=*
    - -mfloat-abi=*
    - -mfpu=*
    - --target=*

Diagnostics:
  Suppress:
    - pp_file_not_found
    - drv_unknown_argument
  ClangTidy:
    Remove: "*"

Index:
  Background: Build
