# Use CMake-generated compile_commands.json from build/ (run: cmake -B build)
CompileFlags:
  CompilationDatabase: build
  Remove:
    - -mthumb
    - -mcpu=*
    - -mfloat-abi=*
    - -mfpu=*
    - --target=*

Diagnostics:
  Suppress:
    - pp_file_not_found
    - drv_unknown_argument
    - unknown_warning_option
  ClangTidy:
    Remove: "*"

Index:
  Background: Build
